<tbody id="books-list-content">
  <% books.forEach(function(book){ %>
    <tr>
      <td class="three wide">{{book.isbn}}</td>
      <td>{{book.name}}</td>
      <td class="two wide">${{book.price}}</td>
    </tr>
    <% each %>
      <% }) %>
</tbody>