// HAZEORID COLORS

$black:	#000
$blue-gray-dark:	#446
$blue-gray-light:	#8AB
$gray-dark:			#444
$gray-light:		#888
$white:					#FFF
$blue-dark:			#048
$blue-light:		#8AF
$cyan-dark:			#088
$cyan-light:		#0AD
$purple-dark:		#828
$purple-light:	#D4D
$violet-dark:		#428
$violet-light:	#84D
$green-dark:		#060
$green-light:		#4D4
$teal-dark:			#086
$teal-light:		#2D8
$lime-dark:			#480
$lime-light:		#8D0
$pink-dark:			#D0A
$pink-light:		#F8A
$red-dark:			#800
$red-light:			#D44
$brown-dark:		#420
$brown-light:		#840
$orange-dark:		#D60
$orange-light:	#F82
$yellow-dark:		#DA4
$yellow-light:	#FD4
